html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline; }

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none; }

html,
body {
  width: 100%;
  height: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  font-family: arial, sans-serif; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

ins,
a {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: inline-block; }

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: rgba(0, 0, 0, 0); }

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px; }

.mui-inner-wrap {
  width: 100%;
  height: 100%; }
  .mui-inner-wrap .mui-scroll {
    height: 100%;
    width: 100%; }
    .mui-inner-wrap .mui-scroll header {
      height: 3.2rem;
      width: 100%;
      background: yellow;
      box-sizing: border-box;
      padding: 0 0.4rem; }
      .mui-inner-wrap .mui-scroll header .hed-top {
        display: flex;
        /* NEW, Spec - Opera 12.1, Firefox 20+ */
        display: -webkit-flex;
        /* NEW - Chrome */
        width: 100%;
        height: 0.8rem;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center; }
      .mui-inner-wrap .mui-scroll header .hed-center {
        width: 100%;
        height: 1.6rem;
        display: flex;
        /* NEW, Spec - Opera 12.1, Firefox 20+ */
        display: -webkit-flex;
        /* NEW - Chrome */
        -webkit-justify-content: space-between;
        justify-content: space-between; }
        .mui-inner-wrap .mui-scroll header .hed-center .big {
          font-size: 0.64rem; }
        .mui-inner-wrap .mui-scroll header .hed-center .right span {
          display: inline-block;
          padding: 0.13333rem 0.4rem;
          border: 1px solid #000;
          border-radius: 1.33333rem; }
      .mui-inner-wrap .mui-scroll header .hed-bottom {
        display: flex;
        /* NEW, Spec - Opera 12.1, Firefox 20+ */
        display: -webkit-flex;
        /* NEW - Chrome */
        -webkit-justify-content: space-around;
        justify-content: space-around; }
        .mui-inner-wrap .mui-scroll header .hed-bottom .price {
          font-size: 0.48rem; }
    .mui-inner-wrap .mui-scroll section {
      width: 100%; }
      .mui-inner-wrap .mui-scroll section .centent {
        width: 100%;
        height: 0.8rem;
        display: flex;
        /* NEW, Spec - Opera 12.1, Firefox 20+ */
        display: -webkit-flex;
        /* NEW - Chrome */
        -webkit-justify-content: space-between;
        justify-content: space-between;
        text-align: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 0.4rem; }
        .mui-inner-wrap .mui-scroll section .centent div:nth-child(2) .tab {
          border: 1px solid #000;
          border-radius: 0.53333rem;
          overflow: hidden; }
          .mui-inner-wrap .mui-scroll section .centent div:nth-child(2) .tab span {
            padding: 0.13333rem 0.4rem; }
          .mui-inner-wrap .mui-scroll section .centent div:nth-child(2) .tab span.active {
            background: yellow; }
      .mui-inner-wrap .mui-scroll section .mui-bill-year .mui-bill-year-tab {
        display: flex;
        /* NEW, Spec - Opera 12.1, Firefox 20+ */
        display: -webkit-flex;
        /* NEW - Chrome */
        -webkit-align-items: center;
        align-items: center; }
        .mui-inner-wrap .mui-scroll section .mui-bill-year .mui-bill-year-tab div:nth-child(2) {
          display: flex;
          /* NEW, Spec - Opera 12.1, Firefox 20+ */
          display: -webkit-flex;
          /* NEW - Chrome */
          -webkit-flex: 1 1 0%;
          flex: 1 1 0%; }
          .mui-inner-wrap .mui-scroll section .mui-bill-year .mui-bill-year-tab div:nth-child(2) dl {
            -webkit-flex: 1 1 0%;
            flex: 1 1 0%;
            display: flex;
            /* NEW, Spec - Opera 12.1, Firefox 20+ */
            display: -webkit-flex;
            /* NEW - Chrome */
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-flex-direction: column;
            flex-direction: column;
            -webkit-align-items: center;
            align-items: center; }
          .mui-inner-wrap .mui-scroll section .mui-bill-year .mui-bill-year-tab div:nth-child(2) .mui-bill-year-pay {
            color: red; }
          .mui-inner-wrap .mui-scroll section .mui-bill-year .mui-bill-year-tab div:nth-child(2) .mui-bill-year-balance {
            color: #999; }
          .mui-inner-wrap .mui-scroll section .mui-bill-year .mui-bill-year-tab div:nth-child(2) .mui-bill-year-income {
            color: green; }
      .mui-inner-wrap .mui-scroll section .mui-collapse-content li {
        display: flex;
        /* NEW, Spec - Opera 12.1, Firefox 20+ */
        display: -webkit-flex;
        /* NEW - Chrome */
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 0.4rem;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: center;
        align-items: center;
        height: 1.06667rem;
        border-bottom: 1px solid #ccc; }
        .mui-inner-wrap .mui-scroll section .mui-collapse-content li dl {
          -webkit-align-items: center;
          align-items: center;
          display: flex;
          /* NEW, Spec - Opera 12.1, Firefox 20+ */
          display: -webkit-flex;
          /* NEW - Chrome */ }
        .mui-inner-wrap .mui-scroll section .mui-collapse-content li .mui-bill-year-pay {
          color: red;
          font-size: 0.48rem;
          font-weight: bold; }
        .mui-inner-wrap .mui-scroll section .mui-collapse-content li .mui-bill-year-income {
          color: green;
          font-size: 0.48rem;
          font-weight: bold; }
      .mui-inner-wrap .mui-scroll section .mui-bill-month > div {
        width: 100%;
        display: flex;
        /* NEW, Spec - Opera 12.1, Firefox 20+ */
        display: -webkit-flex;
        /* NEW - Chrome */
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 0.4rem;
        -webkit-justify-content: space-between;
        justify-content: space-between; }
      .mui-inner-wrap .mui-scroll section .mui-bill-tb {
        display: none; }
    .mui-inner-wrap .mui-scroll .addbill {
      width: 2.13333rem;
      height: 2.13333rem;
      background: yellow;
      border-radius: 100%;
      position: absolute;
      bottom: 0;
      left: 50%;
      z-index: 99;
      font-size: 1.6rem;
      color: #fff;
      margin-left: -1.06667rem;
      margin-top: -1.6rem;
      text-align: center;
      line-height: 2.13333rem; }

.mui-scroll-wrapper .mui-scroll-tit h2 {
  font-size: 0.48rem;
  font-weight: bold; }

.mui-scroll-wrapper .mui-scroll-tit .srot {
  width: 100%;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }
  .mui-scroll-wrapper .mui-scroll-tit .srot span {
    padding: 0.08rem 0.26667rem;
    border: 1px solid #000;
    border-radius: 0.53333rem;
    margin: 0.13333rem; }
  .mui-scroll-wrapper .mui-scroll-tit .srot .active {
    border: 2px solid salmon; }

.mui-scroll-wrapper .mui-scroll-btn span {
  padding: 0.13333rem 0.26667rem; }
